* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading::after {
    display: inline-block;
    position: relative;
    content: "";
    width: 35px;
    height: 35px;
    background-color: none;
    border-radius: 50%;
    border: 4px solid #000000;
    border-top-color: transparent;
    border-left-color: transparent;
    animation: loader-animation 1s linear 0s infinite;
}
.graph {
    position: relative;
    height:40vh;
    width:95vw;
}
@keyframes loader-animation {
    0% {
        transform: rotate(0deg);
    }
    
    40% {
        transform: rotate(160deg);
    }

    60% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(360deg);
    }
}